page-login {
    #info{
        text-align: justify;
        color: #fff;
        
    }
    #ConteudoLogin1{
        text-align: center;
        margin-top: 2px;
        
    }
    #ConteudoLogin2{
        color: #fff;
    }
    .cardLogin{
        background-color: rgba(15, 14, 15, 0.705);
        color: #fff;
    }
    #cardLogin2{
        
        margin-top: 20%;
        align-items: center; 
        width: 40%;       
    }
    #btnLogin{
        margin-bottom: 25px;
        margin-top: 20px;
    }
    #img1{
        margin-top: 5%;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        margin-bottom: 40px;
        
    }
    .card-title {
        position: fixed;
        top: 13%;
        font-size: 4.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-align: center;
        text-shadow: 2px -2px 10px #000; 
      }
      #rodape{
        position: absolute;
        top: 92%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: #000;
        text-align: center;
        text-shadow: 2px -2px 10px #fff; 
      }
      ion-card{
        position: fixed;
        align-items: center; 
        width: 40%;
      }



}
