
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Autores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="containerautores" class="a" class="b">
    <ion-card *ngFor="let dadosPost of dadosPost | async">
        <ion-card-header>
          {{dadosPost.autorPost}}
        </ion-card-header>
      
        <ion-card-content *ngIf="selectedItem">
          {{selectedItem.dadosPost}} <p>Post</p>
        </ion-card-content>
          <button ion-button icon-start clear small (click)="editarUsuario(dadosPost)">
            <ion-icon name="create" color="dark"></ion-icon>
            <div>Editar</div>
          </button>
      
      </ion-card>

</ion-content>
