page-home {
    #textBtn1{
        color: #fff;
        text-align: left;
        text-shadow: 2px -2px 10px #000;
        background-color: rgb(191, 235, 191);
        opacity: 0.50;
    }
    #card1{
        background-color: rgba(0, 0, 0, 0.205);
    }

}
 
