<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="container">
    <ion-card *ngFor="let dadosPost of cadastroPost | async">
        <ion-item id="card1">
          <ion-avatar item-start>
            <img src="../../assets/imgs/3.jpg">
          </ion-avatar>
          <h2>{{ dadosPost.tituloPost}}</h2>
          <p>{{ dadosPost.autorPost }}</p>
        </ion-item>    
        <ion-card-content>
            <img src="{{imagemPost}}" *ngIf="imagemPost"/>
          <p> {{dadosPost.descricaoPost}}</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small (click)="editarPost(dadosPost)">
              <ion-icon name="create" color="dark" ></ion-icon>
              <div>Editar</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-fab top right edge>
          <button ion-fab mini color="light"><ion-icon name="add"></ion-icon></button>
          <ion-fab-list>
            <button ion-fab color="dark" (click)="novoPost()"><ion-icon name="add"></ion-icon></button>
            <button ion-fab color="dark" (click)="goautores()"><ion-icon name="paper"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>
</ion-content>
